*,
*::before,
*::after {
     box-sizing: border-box;
}

* {background-color: rgb(66, 127, 224);
    line-height: 1.5;
    padding: 0; 
    margin: 0;
    }
h1 { 
    color: antiquewhite;
    text-align: center;
    padding-top: 30px;
    border-style: solid;
    border-color: blanchedalmond;
}